<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartsimjgraphics.bccihub">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_bcc_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_bcc_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BCCIHUB">
        <activity
            android:name=".ActivitySendMail"
            android:exported="false" />
        <activity
            android:name=".ActivityCustAddProperty"
            android:exported="false" />
        <activity
            android:name=".ActivityCustomerViewOwnProperty"
            android:exported="false" />
        <activity
            android:name=".ActivityRegisterLoginUser"
            android:exported="false" />
        <activity android:name=".ActivityForum" />
        <activity android:name=".ActivityPropertyAdd" />
        <activity android:name=".ActivityCustomerComplaint" />
        <activity android:name=".ActivityCustomerDashBoard" />
        <activity android:name=".ActivityCustomerPay" />
        <activity android:name=".ActivityEditProfile" />
        <activity android:name=".ActivityForgotPassword" />
        <activity android:name=".ActivityPayments" />
        <activity android:name=".ActivityProperties" />
        <activity android:name=".ActivityRegisterBusiness" />
        <activity android:name=".ActivitySignIn" />
        <activity android:name=".ActivityStatistics" />
        <activity android:name=".ActivityUserAdd" />
        <activity android:name=".ActivityUserManage" />
        <activity android:name=".ActivityUsers" />
        <activity android:name=".ActivityViewProperty" />
        <activity android:name=".ActivityDashBoard" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>